<?xml version="1.0" ?>
<!--
/**
 * The Tech Spot Br Custom Catalog Grid for Magento 2
 * Copyright (C) 2013  Tech Spot 
 * 
 * This file is part of Techspot/CustomCatalogGrid.
 * 
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="Techspot_CustomCatalogGrid" setup_version="1.0.1">
		<sequence>
            <module name="Magento_Catalog"/>
        </sequence>
	</module>
</config>
